{% extends "base.html" %}
{% block content %}
{% load static %}
</head>
    <body>
        
      <div class="row mr-2">
        <div class="col-sm-2 dropdown text-center p-4">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              MENU
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'addlist'%}">เพิ่มรายการ</a>
              <a class="dropdown-item" href="{% url 'delete'%}">ลบรายการ</a>
              <a class="dropdown-item" href="{% url 'edit'%}">แก้ไขรายการ</a>
            </div>
        </div>
        <div class="col-sm-11"></div>
      </div>
        <center><h1>Edit</h1></center>

        <div class="row p-3 mr-2">
          <div class="col-sm-9"></div>
          <div class="col-sm-2">
            <input type="text" class="form-control" placeholder="search">
          </div>
        </div>

        <div class="container">          
          <table class="table table-borderless">
            <thead>
              <tr>
                <th><img src="{% static 'images/Equipment.jpg' %}" class="mx-auto d-block shadow-lg p-2 mb-3 bg-white rounded" width="200" height="200"></th>
                <th><img src="{% static 'images/Meterail.jpg' %}" class="mx-auto d-block shadow-lg p-2 mb-3 bg-white rounded" width="200" height="200"></th>
                <th><img src="{% static 'images/Equipment.jpg' %}" class="mx-auto d-block shadow-lg p-2 mb-3 bg-white rounded" width="200" height="200"></th>
                <th><img src="{% static 'images/Meterail.jpg' %}" class="mx-auto d-block shadow-lg p-2 mb-3 bg-white rounded" width="200" height="200"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-sm">
                <td class="text-center">Equiment 1</td>
                <td class="text-center">Material 2</td>
                <td class="text-center">Equiment 3</td>
                <td class="text-center">Material 4</td>
              </tr>
              <tr class="text-center">
                <td>
                    <div>
                      <button type="button" class="btn btn-outline-danger btn-sm">edit</button></div>
                    </div>
                </td>
                <td>
                  <div>
                    <button type="button" class="btn btn-outline-danger btn-sm">edit</button></div>
                  </div>
                </td>
                <td>
                  <div>
                    <button type="button" class="btn btn-outline-danger btn-sm">edit</button></div>
                  </div>
                </td>
                <td>
                  <div>
                    <button type="button" class="btn btn-outline-danger btn-sm">edit</button></div>
                  </div>
                </td>
              </tr>
            </tbody>
                  
            <thead>
              <tr>
                <th><img src="{% static 'images/Equipment.jpg' %}" class="mx-auto d-block shadow-lg p-2 mb-3 bg-white rounded" width="200" height="200"></th>
                <th><img src="{% static 'images/Meterail.jpg' %}" class="mx-auto d-block shadow-lg p-2 mb-3 bg-white rounded" width="200" height="200"></th>
                <th><img src="{% static 'images/Equipment.jpg' %}" class="mx-auto d-block shadow-lg p-2 mb-3 bg-white rounded" width="200" height="200"></th>
                <th><img src="{% static 'images/Meterail.jpg' %}" class="mx-auto d-block shadow-lg p-2 mb-3 bg-white rounded" width="200" height="200"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-sm">
                <td class="text-center">Equiment 1</td>
                <td class="text-center">Material 2</td>
                <td class="text-center">Equiment 3</td>
                <td class="text-center">Material 4</td>
              </tr>
              <tr class="text-center">
                <td>
                    <div>
                      <button type="button" class="btn btn-outline-danger btn-sm">edit</button></div>
                    </div>
                </td>
                <td>
                  <div>
                    <button type="button" class="btn btn-outline-danger btn-sm">edit</button></div>
                  </div>
                </td>
                <td>
                  <div>
                    <button type="button" class="btn btn-outline-danger btn-sm">edit</button></div>
                  </div>
                </td>
                <td>
                  <div>
                    <button type="button" class="btn btn-outline-danger btn-sm">edit</button></div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div>
          <a href="{% url 'select'%}">
          <center><button type="button" class="btn btn-dark"><i class="fas fa-home"></i></button></center>
          </a>
        </div>
        <br>

    </body>
{% endblock content %}
