{% extends "base.html" %}
{% block content %}
</head>
    <body>
        <div class="bg-primary">
        <br><br><br><br><br><br><br><br><br><br>
            <div class="text-center">
                <a href="{% url 'admin:index' %}" class="btn btn-outline-primary btn-lg">ADMIN</a><br><br>
            </div>
            <div class="text-center">
                <a href="{% url 'login'%}" class="btn btn-outline-primary btn-lg"> USER </a><br><br>
            </div>
        </div>
    </body>
{% endblock content %}
