{% extends "base.html" %}
{% block content %}
</head>
    <body>
        <div class="container p-3 my-3 border">
            <h2>login</h2>
            <form class="form" action="/action_page.php">
                <div class="form-group border">
                    <label class="mb-2 mr-sm-2">Username:</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Enter Username">
                </div>
                <div class="form-group border">
                    <label class="mb-2 mr-sm-2">Password:</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Enter password">
                </div>
                <div class="form-check border">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input"> Remember me
                  </label>
                </div>    
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
              </form>
        </div>
    </body>
{% endblock content %}