{% extends "base.html" %}
{% block content %}
</head>
    <body>

        <div class="container-fluid"><align="center"></center>
            <br><br><h2 style="text-align:center;">login</h2>
          
              <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <label>Username:</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Enter Username">
                </div>
                <div class="col-sm-4"></div>
              </div>

              <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <label class="mb-2 mr-sm-2">Password:</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Enter password">
                </div>
                <div class="col-sm-4"></div>
              </div>
               
              <div class="row p-1">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 form-check ml-3">
                    <label class="form-check-label">
                    <input class="form-check-input" type="checkbox">Remember me
                    </label>
                </div>
                <div class="col-sm-4"></div>
              </div>

              <div class="row p-1">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                    <button type="button" class="btn btn-danger mb-2">Cancel</button>
                </div>
                <div class="col-sm-4"></div>
              </div>
                  
        </div>

    </body>
{% endblock content %}