{% extends "base.html" %}
{% block content %}
{% load static %}
</head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light d-flex sticky-top" style="background-color: #e3f2fd;">
      <div class="mr-auto">
      <ul class="navbar-nav">
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            MENU
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'add_storage'%}">เพิ่มวัสดุ/อุปกรณ์</a>
            <a class="dropdown-item" href="{% url 'admin:index'%}" target="_blank">Admin</a>
          </div>
        </li>
      </ul>
    </div>
        <div class="p2">{{ user }}
        <a href="{% url 'logout' %}" class="btn btn-outline-danger my-2 my-sm-0">Logout</a>
      </div>
    </nav>
    <br>
      <center><h1>รายการวัสดุ อุปกรณ์</h1></center>
      <!--END Navbar-->

      <div class="row p-3 mr-2">
        <div class="col-sm-6"></div>
        <div class="col-sm-5">
          <form class="form-inline" Action="main" method="POST" name="search" id="search">
            {% csrf_token %}
            <select name="type" class="custom-select mr-3" onchange="this.form.submit()">
              <option value="" {% if type == '' %}selected{% endif %}>-ประเภท-</option>
              {% for typeDB in typeSearch %}
              <option value="{{ typeDB.Type }}" {% if type == typeDB.Type %}selected{% endif %}>{{ typeDB.Thai_Name }}</option>
              {% endfor %}
            </select>
            <select name="category" class="custom-select mr-3" onchange="this.form.submit()">
              <option value="" {% if category == '' %}selected{% endif %}>-ลักษณะงาน-</option>
              {% for categoryDB in categorySearch %}
              <option value="{{ categoryDB.Category }}" {% if category == categoryDB.Category %}selected{% endif %}>{{ categoryDB.Category }}</option>
              {% endfor %}
            </select>
              <i class="fas fa-search ml-2" aria-hidden="true"></i>
              <input class="form-control form-control-sm ml-1 w-70" type="text" list="items" placeholder="Search" aria-label="Search" id="keyword" name="keyword" value ="{{ keyword }}">
              <datalist id="items">
                {% for item in searchBox %}
                  <option value="{{ item.Name }}">{{ Item.Name }} </option>
                {% endfor %}
              </datalist>
          </form>
        </div>
      </div>
      <!--End Search-->

      <div class="container">
        <div class="d-flex align-content-start justify-content-center flex-wrap">
          {% for item in storage %}
          <div class="p-3 text-center">
            <a href="product?id={{ item.order }}" target="_blank">
            <img src="static/media/{{ item.Picture }}" class="mx-auto d-block shadow-lg p-2 mb-3 bg-white rounded" width="200" height="200" alt="{{ item.Picture }}"></a>
            <div>{{ item.Masterkey }}{{ item.Name }}</div>
            จำนวน : <mark><code>{{ item.Amount }}</code></mark>
          </div>
          {% empty %}
            <center>
              <a class="dropdown-item" href="{% url 'add_storage'%}">
                <button class="btn btn-success">
                  เพิ่มอุปกรณ์/วัสดุ
                </button>
              </a>
              <br><br>
          {% endfor %}
        </div>

      </div><!--End container-->

      

  </body>
{% endblock content %}