{% extends "base.html" %}
{% block content %}
{% load static %}
</head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light d-flex sticky-top" style="background-color: #e3f2fd;">
      <div class="mr-auto">
      <ul class="navbar-nav">
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            MENU
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'addlist'%}">เพิ่มวัสดุ/อุปกรณ์</a>
            <a class="dropdown-item" href="{% url 'edit_equipment'%}">แก้ไขรายการอุปกรณ์</a>
          </div>
        </li>
      </ul>
    </div>
        <div class="p2">{{ user }}
        <a href="{% url 'login' %}"><button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button></a>
      </div>
    </nav>
    <br>
      <center><h1>รายการวัสดุ อุปกรณ์</h1></center>
      <!--END Navbar-->

      <div class="row p-3 mr-2">
        <div class="col-sm-9"></div>
        <div class="col-sm-2">
          <form class="form-inline" Action="main" method="POST" name="search" id="search">
            {% csrf_token %}
              <i class="fas fa-search" aria-hidden="true"></i>
              <script>
                document.getElementById('keyword').submit()
              </script>
              <input class="form-control form-control-sm ml-3 w-75" type="text" list="items" placeholder="Search" aria-label="Search" id="keyword" name="keyword" value ="{{ keyword }}" onchange="this.form.submit()">
              <datalist id="items">
                {% for item in searchBox %}
                  <option value="{{ item.Name }}">{{ Item.Name }} </option>
                {% endfor %}
              </datalist>
          </form>
        </div>
      </div>
      <!--End Search-->

      <div class="container">
        <div class="d-flex align-content-start justify-content-center flex-wrap">
          {% for item in storage %}
          <div class="p-3 text-center">
            <a href="product?id={{ item.order }}">
            <img src="static/media/{{ item.Picture }}" class="mx-auto d-block shadow-lg p-2 mb-3 bg-white rounded" width="200" height="200" alt="{{ item.Picture }}"></a>
            <div>{{ item.Name }}</div>
            จำนวน : <mark><code>{{ item.Amount }}</code></mark>
          </div>
          {% empty %}
            <center>
              <a class="dropdown-item" href="{% url 'addlist'%}">
                <button class="btn btn-success">
                  เพิ่มอุปกรณ์/วัสดุ
                </button>
              </a>
              <br><br>
          {% endfor %}
        </div>

      </div><!--End container-->

      <div>
        <a href="{% url 'select'%}">
        <center><button type="button" class="btn btn-dark"><i class="fas fa-home"></i></button></center>
        </a>
      </div>
      <br>

  </body>
{% endblock content %}