{% extends "base.html" %}
{% block content %}
{% load static %}
</head>
<body>

    {% for item in storage %}
<form Action="#" method="POST">
    {% csrf_token %}
  <nav class="navbar navbar-expand-lg navbar-light d-flex sticky-top" style="background-color: #e3f2fd;">
    <div class="mr-auto">
    <ul class="navbar-nav">
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          MENU
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'main'%}">หน้าหลัก</a>
          <a class="dropdown-item" href="{% url 'add_storage'%}">เพิ่มวัสดุ/อุปกรณ์</a>
          <a class="dropdown-item" href="{% url 'admin:index'%}" target="_blank">Admin</a>
        </div>
      </li>
    </ul>
  </div>
      <div class="p2">{{ user }}
      <a href="{% url 'logout' %}" class="btn btn-outline-danger my-2 my-sm-0">Logout</a>
    </div>
  </nav>
  <br>
    <center><h1>รายการวัสดุ อุปกรณ์</h1></center>
  <br>
    <!--END Navbar-->
<div class="container mt-3">
  <div class="d-flex mb-3 flex-wrap justify-content-center" style="height:80%">
    <div class="p-2 pr-3 pl-3">
      <div><img src="static/media/{{ item.Picture }}" class="mx-auto d-block shadow-lg p-2 mb-3 bg-white rounded" width="250" height="250" alt="{{ item.Picture }}"></a></div>
      <input type="hidden" id="id" name="id" value="{{ item.order }}">
      <div><h3>ชื่อ : {{ item.Name }}</h3></div>
      <div><h3>ยี่ห้อ : {{ item.Brand }}</h3></div>
      <div><h3>ประเภท : {{ item.Category }}</h3></div>
    </div>

    <div class="p-2 align-self-start">
      <h4>จำนวนทั้งหมด : </h4>
      <div class=" d-flex bg-success p-2 shadow-lg p-2 mb-3 rounded">
          <div class="flex-fill justify-content-start text-white"><h1 class="display-3">{{ item.Amount }}</h1></div>
          <div class="align-self-end text-white"><h4>หน่วย</h4></div>
      </div>
      <div class="d-flex pt-3 mb-3 justify-content-center">
        <div class="p-2 ">
          <button type="button" onclick="FunctionStepDown()" class="minus btn btn-outline-danger btn-lg" >
            <h1> -</h1>
        </button></div>
        <div class="p-2 pl-1 pr-1 align-self-center ">
            <input class="form-control quantity form-control-lg" style="width:80px" min="0" name="quantity" id="quantity" type="number" value="0">
        </div>
        <div class="p-2">
          <button type="button" onclick="FunctionStepUp()" class="plus btn btn-outline-success btn-lg">
            <h1> + </h1>
          </button>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="pr-3">
            <button type="submit" class="btn btn-danger" id="submit" name="submit" value="borrow"><h1>ยืม</h1></button>
        </div>
        <div>
          <button type="submit" class="btn btn-success" id="submit" name="submit" value="return" ><h1>คืน</h1></button>
        </div>
      </div>
      <br>
      <div class="text-center">
        {% if Success == 'True' %}
          <h4 style="color:DarkBlue;">ทำการบันทึกสำเร็จ</h>
        {% elif Success == 'False' %}
          <h4 style="color:DarkRed;">ทำการบันทึกไม่สำเร็จ</h>
        {% endif %}
      </div>
    </div>

    <div class="p-2" >
      <div class=" font-weight-bold text-center "><h1>ประวัติ</h1></div>
      <div class="p-2  pl-2">
        {% for transaction in transactions %}
        <h5>{{transaction.Username}} : {{transaction.Action}} : {{ transaction.Name }} จำนวน {{ transaction.Amount }}</h5>
        {% endfor%}
      </div>
    </div>
  </div>
</div>
{%endfor%}
<script>
  function FunctionStepUp() {/*from  w  ww . ja  va  2 s  .c  om*/
    document.getElementById("quantity").stepUp(1);
  }
  function FunctionStepDown() {/*from  w  ww . ja  va  2 s  .c  om*/
    document.getElementById("quantity").stepDown(1);
  }
  </script>
</form>
  </body>
{% endblock content %}