{% extends "base.html" %}
{% block content %}
{% load static %}
<style>
    .container {
      position: relative;
      width: 100%;
    }
    
    .image {
      display: block;
      width: 100%;
    }
    
    .overlay {
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      background-color: black;
      overflow: hidden;
      width: 100%;
      height:0;
      transition: .5s ease;
      opacity: 0.8;
    }
    
    .container:hover .overlay {
      bottom: 0;
      height: 100%;
    }
    
    .text {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
    </style>
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-light justify-content-between sticky-top" style="background-color: #e3f2fd;">
        <ul class="navbar-nav">
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              MENU
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'addlist'%}">add list</a>
              <a class="dropdown-item" href="{% url 'delete_material'%}">delete</a>
              <a class="dropdown-item" href="{% url 'edit_equipment'%}">edit</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <label class="mr-sm-2">NK</label>
          <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
        </form>
      </nav>
      <br>
      
        <div class="row text-center d-flex justify-content-center mr-2 pt-5 ">
            <!--Grid column-->
            <div class="col-sm-5 pt-2 mr-3 shadow-lg p-3 mb-5 bg-white rounded">
                <div class="container">
                <a href="{% url 'show_material'%}">
                    
                        <img class="image rounded-circle"  src="{% static 'images/Meterail.jpg' %} ">
                        <div class="overlay">
                            <div class="text">Material</div>
                        </div>
                    
                </a>
            </div>
            </div>
   

            
            <div class="col-sm-5 pt-2 mr-3 shadow-lg p-3 mb-5 bg-white rounded">
                <div class="container">
                <a href="{% url 'show_equipment'%}">
                    <img class="image rounded-circle"  src="{% static 'images/Equipment.jpg' %}">
                    <div class="overlay">
                        <div class="text">Equipment</div>
                    </div>
                </a> 
            </div>
            </div>
            <!--Grid column-->
          </div>

    </body>
{% endblock content %}