{% extends "base.html" %}
{% block content %}
{% load static %}
</head>
    <body>
        <div class="container border">
            <a href="#" class="float-left mx-auto d-block">
                <img src="{% static 'images/Meterail.jpg' %}" width="304" height="236">
                <p>วัสดุ</p>
            </a>
        <div class="float-right mx-auto d-block">
            <a href="#" class="float-right mx-auto d-block">
                <img src="{% static 'images/Equiment.jpg' %}" width="304" height="236">
                <p>อุปกรณ์</p>
        </div>
        </div>
        

    </body>
{% endblock content %}