{% extends "base.html" %}
{% block content %}
</head>
    <body>
        
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              MENU
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">เพิ่มรายการ</a>
              <a class="dropdown-item" href="#">ลบรายการ</a>
              <a class="dropdown-item" href="#">แก้ไขรายการ</a>
            </div>
          </div>
        </div>
        
    </body>
{% endblock content %}
