{% extends "base.html" %}
{% block content %}
{% load static %}
</head>
    <body>
      
      <div class="row mr-2">
        <div class="col-sm-2 dropdown text-center p-4">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              MENU
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'addlist'%}">add list</a>
              <a class="dropdown-item" href="{% url 'delete'%}">delete</a>
              <a class="dropdown-item" href="{% url 'edit'%}">edit</a>
            </div>
        </div>
        <div class="col-sm-11"></div>
      </div>

        <center><h1>Meterail</h1></center>

        <div class="row p-3 mr-2">
          <div class="col-sm-9"></div>
          <div class="col-sm-2">
            <input type="text" class="form-control" placeholder="search">
          </div>
        </div>


        <div class="container">          
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th><img src="{% static 'images/Meterail.jpg' %}" class="mx-auto d-block shadow-lg p-2 mb-3 bg-white rounded" width="200" height="200"></th>
                  <th><img src="{% static 'images/Meterail.jpg' %}" class="mx-auto d-block shadow-lg p-2 mb-3 bg-white rounded" width="200" height="200"></th>
                  <th><img src="{% static 'images/Meterail.jpg' %}" class="mx-auto d-block shadow-lg p-2 mb-3 bg-white rounded" width="200" height="200"></th>
                  <th><img src="{% static 'images/Meterail.jpg' %}" class="mx-auto d-block shadow-lg p-2 mb-3 bg-white rounded" width="200" height="200"></th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-sm">
                  <td class="text-center">Meterail 1</td>
                  <td class="text-center">Meterail 2</td>
                  <td class="text-center">Meterail 3</td>
                  <td class="text-center">Meterail 4</td>
                </tr>
                <tr>
                    <td>
                      <div class="row no-gutters">
                        <div class="col-sm-5 text-right pt-1 pr-1 ml-3">
                          <button type="button" class="btn btn-outline-success btn-sm">เพิ่ม</button>
                        </div>
                        <div class="col-sm-1 pt-1">    
                            <input type="text" class="form-control form-control-sm text-center">
                        </div>
                        <div class="col-sm-5 text-left pt-1 pl-1">
                          <button type="button" class="btn btn-outline-danger btn-sm">ลด</button>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="row no-gutters">
                        <div class="col-sm-5 text-right pt-1 pr-1 ml-3">
                          <button type="button" class="btn btn-outline-success btn-sm">เพิ่ม</button>
                        </div>
                        <div class="col-sm-1 pt-1">    
                            <input type="text" class="form-control form-control-sm text-center">
                        </div>
                        <div class="col-sm-5 text-left pt-1 pl-1">
                          <button type="button" class="btn btn-outline-danger btn-sm">ลด</button>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="row no-gutters">
                        <div class="col-sm-5 text-right pt-1 pr-1 ml-3">
                          <button type="button" class="btn btn-outline-success btn-sm">เพิ่ม</button>
                        </div>
                        <div class="col-sm-1 pt-1">    
                            <input type="text" class="form-control form-control-sm text-center">
                        </div>
                        <div class="col-sm-5 text-left pt-1 pl-1">
                          <button type="button" class="btn btn-outline-danger btn-sm">ลด</button>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="row no-gutters">
                        <div class="col-sm-5 text-right pt-1 pr-1 ml-3">
                          <button type="button" class="btn btn-outline-success btn-sm">เพิ่ม</button>
                        </div>
                        <div class="col-sm-1 pt-1">    
                            <input type="text" class="form-control form-control-sm text-center">
                        </div>
                        <div class="col-sm-5 text-left pt-1 pl-1">
                          <button type="button" class="btn btn-outline-danger btn-sm">ลด</button>
                        </div>
                      </div>
                    </td>
                </tr>
              </tbody>

              <thead>
                <tr>
                  <th><img src="{% static 'images/Meterail.jpg' %}" class="mx-auto d-block shadow-lg p-2 mb-3 bg-white rounded" width="200" height="200"></th>
                  <th><img src="{% static 'images/Meterail.jpg' %}" class="mx-auto d-block shadow-lg p-2 mb-3 bg-white rounded" width="200" height="200"></th>
                  <th><img src="{% static 'images/Meterail.jpg' %}" class="mx-auto d-block shadow-lg p-2 mb-3 bg-white rounded" width="200" height="200"></th>
                  <th><img src="{% static 'images/Meterail.jpg' %}" class="mx-auto d-block shadow-lg p-2 mb-3 bg-white rounded" width="200" height="200"></th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-sm">
                  <td class="text-center ">Meterail 1</td>
                  <td class="text-center">Meterail 2</td>
                  <td class="text-center">Meterail 3</td>
                  <td class="text-center">Meterail 4</td>
                </tr>
                <tr>
                    <td>
                      <div class="row no-gutters">
                        <div class="col-sm-5 text-right pt-1 pr-1 ml-3">
                          <button type="button" class="btn btn-outline-success btn-sm">เพิ่ม</button>
                        </div>
                        <div class="col-sm-1 pt-1">    
                            <input type="text" class="form-control form-control-sm text-center">
                        </div>
                        <div class="col-sm-5 text-left pt-1 pl-1">
                          <button type="button" class="btn btn-outline-danger btn-sm">ลด</button>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="row no-gutters">
                        <div class="col-sm-5 text-right pt-1 pr-1 ml-3">
                          <button type="button" class="btn btn-outline-success btn-sm">เพิ่ม</button>
                        </div>
                        <div class="col-sm-1 pt-1">    
                            <input type="text" class="form-control form-control-sm text-center">
                        </div>
                        <div class="col-sm-5 text-left pt-1 pl-1">
                          <button type="button" class="btn btn-outline-danger btn-sm">ลด</button>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="row no-gutters">
                        <div class="col-sm-5 text-right pt-1 pr-1 ml-3">
                          <button type="button" class="btn btn-outline-success btn-sm">เพิ่ม</button>
                        </div>
                        <div class="col-sm-1 pt-1">    
                            <input type="text" class="form-control form-control-sm text-center">
                        </div>
                        <div class="col-sm-5 text-left pt-1 pl-1">
                          <button type="button" class="btn btn-outline-danger btn-sm">ลด</button>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="row no-gutters">
                        <div class="col-sm-5 text-right pt-1 pr-1 ml-3">
                          <button type="button" class="btn btn-outline-success btn-sm">เพิ่ม</button>
                        </div>
                        <div class="col-sm-1 pt-1">    
                            <input type="text" class="form-control form-control-sm text-center">
                        </div>
                        <div class="col-sm-5 text-left pt-1 pl-1">
                          <button type="button" class="btn btn-outline-danger btn-sm">ลด</button>
                        </div>
                      </div>
                    </td>
                </tr>
              </tbody>
            </table>

            <div>
              <a href="{% url 'select'%}">
              <center><button type="button" class="btn btn-dark"><i class="fas fa-home"></i></button></center>
              </a>
            </div>
            <br>
        </div>

    </body>
{% endblock content %}
