{% extends "base.html" %}
{% block content %}
{% load static %}
</head>
<body>
  <div class="d-flex mb-3">
    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus btn btn-outline-danger btn-sm" >
      <h1> -</h1>
      </button>
<div class="p-2 col-sm-4 pl-1 pr-1 border">
<input class="form-control  " min="0" name="quantity"  type="number" value="0">
</div>
  <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus btn btn-outline-success btn-sm">
  <h1> + </h1>
  </button>
</div>
  </body>
{% endblock content %}