{% extends "base.html" %}
{% block content %}
{% load static %}
</head>
<body>
  <div class="number-input md-number-input row justify-content-md-center no-gutters pb-3">
    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus btn btn-outline-danger btn-sm">ยืม</button>
    <div class="col-sm-4 pl-1 pr-1">
      <input class="form-control quantity" min="0" name="quantity" value="1" type="number" id="count">
    </div>
    <button onclick="document.getElementById("count").stepUp()" class="plus btn btn-outline-success btn-sm">คืน</button>
  </div>
  </body>
{% endblock content %}